p{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
li{
    font-size: 20px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 35px;
}
h5{
    font-size: 30px;
}
a{
    font-size: 16px;
}
dl{
    font-size: 20px;
}
dt{
    font-size: 20px;
}